<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>GENERAL</title>

<link th:fragment="bootstrap" rel="stylesheet" href="/css/bootstrap.min.css" />

<style>
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
</style>
</head>
<body>
<body>

	<div th:fragment="fragmentoGeneral">
	
		<header class="d-flex justify-content-between m-2">
			<a th:href="@{/global-runtime-exception}"
				class="btn btn-danger text-white">EXCEPCIÓN GLOBAL</a> <a
				th:href="@{/global-mi-excepcion}" class="btn btn-warning text-white">EXCEPCIÓN
				PERSONALIZADA</a>
		</header>

		<nav th:fragment="header" class="d-flex gap-3 p-3 bg-primary">
			<a th:href="@{/clientes}" class="btn btn-success text-white">Clientes</a>
			<a th:href="@{/comerciales}" class="btn btn-secondary text-white">Comerciales</a>
		</nav>
	</div>

</body>
</body>
</html>