<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{crearcomercial}">Crear comercial</title>
<style>
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
</style>
</head>
<body>
<body>

	<div id="contenedora" style="float: none; margin: 0 auto; width: 95%;">
		<div class="clearfix">
			<div style="float: left; width: 50%">
				<h1 th:text="#{crearcomercial}">Crear Comercial</h1>
			</div>
			<div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">
				
				<div style="position: absolute; left: 39%; top : 39%;">
					
						<form action="/comerciales" >
							<input type="submit" th:value="#{volver}" />
						</form>
					</div>
				
			</div>
		</div>
		<div class="clearfix">
			<hr />
		</div>

		<div style="display: flex; flex-direction:column; align-items: center;">
			<h2 style="display:flex; justify-content:center;" th:text="#{crearcomercial}">Crear comercial</h2>
			<div
				style="width: 300px; border: 5px solid lightblue; border-radius: 5px;">
				<form style="display: flex; flex-direction: column;" th:action="@{/comerciales/crear}" th:object="${comercial}" method="post">
					<input th:placeholder="#{nombre}"
						style="margin: 25px; padding: 10px;"
						th:field="*{nombre}"
						required> 
					<input
						th:placeholder="#{apellido1}" style="margin: 25px; padding: 10px;"
						th:field="*{apellido1}"
						required>
					<input th:placeholder="#{apellido2condicional}"
						style="margin: 25px; padding: 10px;"
						th:field="*{apellido2}"> 
					<input th:placeholder="#{comision}"
						style="margin: 25px; padding: 10px;"
						th:field="*{comision}"
						required>
					<input type="submit"
						th:value="#{crear}"
						style="margin: 25px; padding: 10px; border-radius:5px; background-color: lightblue;"
						>
				</form>
			</div>
		</div>
</body>
</body>
</html>