<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{detallecliente}">Detalle Cliente</title>
<style>
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

</style>
</head>
<body>

<div id="contenedora" style="float:none; margin: 0 auto;width: 900px;" >
		<div class="clearfix">
			<div style="float: left; width: 50%">
				<h1 th:text="#{detallecliente}">Detalle Cliente</h1>
			</div>
			<div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">
				
				<div style="position: absolute; left: 39%; top : 39%;">
						<form action="/clientes" >
							<input type="submit" th:value="#{volveralistado}" />
						</form>
					</div>
			</div>
			
			<a th:text="#{volveratras}" href="javascript: history.go(-1)">Volver atrás</a>
		</div>
		
		<div class="clearfix">
			<hr/>
		</div>

		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%">
				<label>ID</label>
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${listaClientesComerciales.get(0).id}" value="ID" readonly="readonly"/>
			</div> 
		</div>
		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%">
				<label th:text="#{nombre}">Nombre</label>
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${listaClientesComerciales.get(0).nombre}" value="Nombre" readonly="readonly"/>
			</div> 
		</div>
		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%">
				<label th:text="#{apellido1}">Primer apellido</label>
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${listaClientesComerciales.get(0).apellido1}" value="Apellido1" readonly="readonly"/>
			</div> 
		</div>
		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%">
				<label th:text="#{apellido2}">Segundo apellido</label>
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${listaClientesComerciales.get(0).apellido2}" value="Apellido2" readonly="readonly"/>
			</div> 
		</div>
		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%">
				<label th:text="#{ciudad}">Ciudad</label>
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${listaClientesComerciales.get(0).ciudad}" value="Ciudad" readonly="readonly"/>
			</div> 
		</div>
		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%">
				<label th:text="#{categoria}">Categoría</label>
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${listaClientesComerciales.get(0).categoria}" value="Categoría" readonly="readonly"/>
			</div> 
		</div>
		
		<div class="clearfix">
			<hr/>
		</div>
		
		<h2>Comerciales asociados</h2>
		
		<div class="clearfix">
			<div style="float: left;width: 20%">Nº ped. total</div>
			<div style="float: left;width: 20%">Nº ped. trimestre</div>
			<div style="float: left;width: 20%">Nº ped. año</div>
			<div style="float: left;width: 20%">Nº ped. lustro</div>
			<div style="float: left;width: 20%">Nombre comercial</div>
		</div>
		<div class="clearfix">
			<hr/>
		</div>

		<div th:each="clienteDTO : ${listaClientesComerciales}">
			<div style="float: left;width: 20%" th:text="${clienteDTO.numPedidosTotal}"></div>
			<div style="float: left;width: 20%" th:text="${clienteDTO.numPedidosTrimestre}"></div>
			<div style="float: left;width: 20%" th:text="${clienteDTO.numPedidosAnio}"></div>
			<div style="float: left;width: 20%" th:text="${clienteDTO.numPedidosLustro}"></div>
			<form th:action="@{/comerciales/}+${clienteDTO.idComercial} " style="display: inline;">
	    			<input type="submit" th:value="${clienteDTO.nombreComercial}"/>
			</form>
		</div>

</div>

</body>
</html>