<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ERROR GLOBAL</title>
<style>
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

</style>

<link th:fragment="bootstrap" rel="stylesheet" href="/css/bootstrap.min.css" />

</head>
<body>
<body>

<div th:insert="~{../fragments/general.html :: header}"></div>

	<span th:text="${traza}">Hola</span>
	
</body>
</body>
</html>